@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 500;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-primary-color: #000000;
    --flip-card-color: #eadbd4;
    --primary-color: #ff7235;
    --secondary-color: #eadbd4;
    --primary-shadow: #a17a69;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* End of Variables*/

html {
    scroll-behavior: smooth;
    background-color: var(--bg-primary-color);
    color: var(--secondary-color);
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    color: var(--primary-color);
    font-weight: var(--bold-font);
}

a:hover {
    color: white;
    border-bottom: 2px solid white;
}

body {
    font-family: var(--font-family);
}

/* Navigation Bar Section */

#burger-menu {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-color);
}

nav h1 {
    color: var(--bg-primary-color)
}

nav a {
    color: var(--bg-primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    color: var(--primary-color);
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    color: var(--primary-color);
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--bg-primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Hero Section */

.hero {
    padding-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 100rem;
    margin: auto;
}

.hero img {
    height: 30rem;
    width: 40rem;
    border-radius: 0.5rem;
}

.bio {
    width: 25rem;
    margin-right: 1rem;
    pad: 0.625rem;
    border-radius: 0.5rem;
    border-width: 0.15rem;
    border-color: var(--primary-color);
}

.bio h2 {
    margin-bottom: bottom var(--bottom-margin);
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    color: var(--primary-color);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem;
    font-size: large;
}


/* More About ME */

.more-about {
    margin-top: 4rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--bg-secondary-color);
    padding: 1rem 6rem;
}

.more-about h2 {
    padding-top: 5.5rem;
    color: var(--primary-color);
    text-align: center;
}

.more-about-row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 55%;
}

.about-col-2 {
    flex-basis: 45%
}

.about-col-2 img {
    height: 30rem;
    width: 20rem;
    border-radius: 0.5rem;
}

.tab-titles {
    display: flex;
    margin: 1.25rem 0 2.5rem;
}

.tab-links {
    margin-right: 3.125rem;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 0.1875rem;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: large;
}

.tab-contents ul li span{
    color: var(--primary-color);
    font-size: large;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

.background{
    color:#fff;
}


/* Skills Section */


.my-skills {
    color: var(--primary-color);
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}


.skills-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flip-card {
    width: 11.875rem;
    height: 11.25rem;
    perspective: 1000px;
    margin: 10px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform var(--transition);
    transform-style: preserve-3d;
    border-radius: 11px;
    box-shadow: 4px 4px 2px var(--primary-shadow);
    background-color: var(--flip-card-color);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 1rem;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    transform: rotateY(180deg);
    justify-content: center;
    padding-top: 3rem;
}

.flip-card-text {
    text-align: center;
}

.skill-header {
    margin-bottom: 1rem;
}

.icon {
    width: 100%;
    height: 100%;
}

/* Projects Section */


.projects {
    background-color: var(--bg-secondary-color);
    color: #000000;
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 40%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    color: var(--primary-color);
}

.project-skills {
    text-align: center;
    font-style: italic;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
    font-weight: 550;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: var(--flip-card-color);
    border-radius: 11px;
    box-shadow: 4px 4px 2px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
    height: 25rem;
}

/* Resume Section */


.resume {
    color: var(--primary-color);
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    width: 210mm;
    height: 305mm;
}

/* Social Section */

.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
}

.sosicon {
    width: 2rem;
    height: 2rem;
}

/* Footer Section */


footer {
    background-color: var(--bg-secondary-color);
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    font-size: large;
}

.scroll-up {
    position: fixed;
    right: 1%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

@media screen and (max-width:1080px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        flex-direction: column;
        list-style-type: none;
        font-style: normal;
        font-weight: var(--bold-font);
        top: 4.7rem;
        right: 0%;
        width: 40%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in-out;
        background-color: var(--primary-color);
    }

    #burger-menu {
        display: flex;
    }

    nav ul li {
        margin: 8px;        
    }

    .checkbox {
        position: absolute;
        display: block;
        height: 2rem;
        width: 2rem;
        top: 1.5rem;
        right: 1.5rem;
        opacity: 0;
        z-index: 5;
        cursor: pointer;
    }

    .hamburger-lines {
        display: block;
        height: 26px;
        width: 32px;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #0e2431;
    }


    .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-45deg);
    }


    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .hero img {
        height: 25rem;
        width: 30rem;
    }

    .bio {
        margin-top: 2rem;
        width: 20.5rem;
    }

    .more-about {
        margin-top: 2rem;
        margin: auto;
    }

    .more-about-row {
        flex-direction: column;
        align-items: center;
    }

    .about-col-2 img {
        margin-top: 2rem;
        height: 30rem;
        width: 20rem;
        border-radius: 0.5rem;
    }

    
    .more-about h2 {
        text-align: center;
    }

    .more-about p {
        text-align: justify;
    }


    .projects-container {
        flex-direction: column;
    }

    .project-container {
        width: 20.875rem;
        height: 28rem;
    }

    .resume {
        color: var(--primary-color);
        text-align: center;
        margin-top: 1rem;
        width: 20.875rem;
        height: 28rem;
    }
}

@media screen and (max-width: 420px) {
    .hero img {
        height: 15rem;
        width: 20rem;
    }

    .bio {
        width: 18.3rem;
    }
    
    .more-about img {

    }

    .project-container {
        width: 17.875rem;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-2{
        margin-bottom: 30px;
    }


}